@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    color:var(--clr-text-primary);
    font-weight:var(--font-regular);
    font-family: "Quicksand", sans-serif;
    text-decoration:none;
    list-style: none;
}
:root{
    --clr-primary:#ADADAD;
    --clr-secondary:#F2EDEA;
    --clr-border-primary:#383838;
    --clr-border-secondary:#39A4AC;
    --clr-bg:#121212;
    --clr-bg-secondary:#1E1E1E;
    --clr-font-header:#FE4E00;
    --clr-font-primary:#DFDEDC;
    --clr-font-secondary:#999999;
    --clr-green:#A3DB78;
    --clr-green-dark:#77a058;
    --clr-red:#FF8677;
    --clr-red-dark:#FF8677;
    --clr-white:#ffffff;
    


    --font-biggest:48px;
    --font-bigger:36px;
    --font-big:28px;
    --font-standard:16px;
    --font-small:14px;
    --font-smaller:12px;
    --font-smallest:10px;

    --font-light:300;
    --font-regular:400;
    --font-medium:500;
    --font-SemiBold:600;
    --font-Bold:700;

    ----clr-err:#ff0f0f;
}
 :root[data-theme="dark"] {
    --clr-primary:#ADADAD;
    --clr-secondary:#F2EDEA;
    --clr-border-primary:#383838;
    --clr-border-secondary:#39A4AC;
    --clr-bg:#121212;
    --clr-bg-secondary:#1E1E1E;
    --clr-font-header:#FE4E00;
    --clr-font-primary:#DFDEDC;
    --clr-font-secondary:#999999;
    --clr-green:#A3DB78;
    --clr-green-dark:#77a058;
    --clr-red:#FF8677;
    --clr-red-dark:#FF8677;
    --clr-white:#ffffff;
}
input,select{
    background: var(--clr-bg);
    border-color: var(--clr-border-primary);
}
p,label,div,input,select,button{
    color: var(--clr-font-primary);
}
h1,h2,h3,h4,h5,h6{
    color: var(--clr-font-header);
}
button{
    background: transparent;
}
.btn-green{
    background: var(--clr-green);
    color: var(--clr-white);
    border: none;
    border-radius: .5rem;
    padding:1rem;
}
.btn-green:hover{
    transition: .5s;
    background: var(--clr-green-dark);
}
.wrapper{
    background: var(--clr-bg);
}
a:hover,a:active{
    color:var(--clr-second);
    transition: .6s;
}
.container{
    width: 1320px;
    margin:0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap:1rem;
}
.Footer{
    bottom:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    border:1px solid var(--clr-border-secondary);
    font-size: var(--font-smallest);
    p{
        color:var(--clr-text-second)
    }
}
.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--clr-border-secondary);
    margin-top:1rem;
    nav{
        display: flex;
        gap:1rem;        
        }
}
.main{
    border:1px solid var(--clr-border-secondary);
    height: 90svh;
}
/*Workout Style*/
.Traningpagemain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    align-items: center;
    justify-content: start;
    margin:1rem;
    .Workoutformgroup{
        border-radius: .5rem;
        background-color: var(--clr-bg-secondary);
        grid-column: 1;
        border:1px solid var(--clr-border-primary);
    }
    .workout-sum{
        border-radius: .5rem;
        background-color: var(--clr-bg-secondary);
        grid-column: 2;
        border:1px solid var(--clr-border-primary);
    }
}
.Workoutformgroup{
    display: flex;
    align-items: start;
    justify-content: start;
    padding:1rem;
    width: 100%;
    form{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
}
.workout-sum{
    display: flex;
    flex-direction: column;
    padding:1rem;
    gap:1rem;
    height: 100%;
}
.workout-sum-list{
    li{
        margin-bottom: .5rem;
    }
}
.Workoutinputgroup{
    display: flex;
    gap: .5rem;
    align-self: center;
    justify-content: center;

}
.setsinput{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--clr-border-secondary);
    border-radius: .6rem;
    
}
.weightinput{
    width: 3rem;
}
.Macros-main{
    margin:1rem;
}
.Macros-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:1rem;
}
.Current-macros-sum{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
/* Form*/
.form-error{
    color: var(----clr-err);
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    select,option, optgroup{
    padding:.2rem;
    border-radius: .5rem;
    border:1px solid var(--clr-border-primary);
    color: var(--clr-font-primary);
    background: var(--clr-bg);
    }
}
.form-group-num{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    input{
        width: 10%;
        padding:.2rem;
        border-radius: .5rem;
        border:1px solid var(--clr-border-primary);
    }
}
.Workoutform{
    width: 100%;
}
.form-input{
    border-radius: .5rem;
    border:1px solid var(--clr-border-primary);
    padding-top:.5rem;
    padding-bottom:.5rem;
}
.form-select{
    border-radius: .5rem;
    border:1px solid var(--clr-border-primary);
    padding-top:.5rem;
    padding-bottom:.5rem;
}





















@media(width < 1200px)
{
    .container{
        width: 1140px;
    } 
        
}
@media(width < 768px)
{
    .container{
        width: 720px;
    } 
        
}
@media(width < 576px)
{
    .container{
        width: 540px;
    } 
        
}