@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    color:var(--clr-text-primary);
    font-weight:var(--font-regular);
    font-family: "Quicksand", sans-serif;
}
:root{
    --clr-primary:#0a0903;
    --clr-text-primary:#1E1E20;
    --clr-text-second:#1C2346;
    --clr-second:#ff5100;
    --clr-dark:#ff8200;
    --clr-light:#e4e4e4;
    --clr-border:#ffc929;
    --clr-border-secondary:#fff4d5;
    --clr-btn:#fff4d5;
    --clr-graph-line:#fff4d5;
    --clr-graph-bg:#fff4d5;
    --clr-graph:#fff4d5;
    --clr-bg:#ffffff;

    --font-biggest:48px;
    --font-bigger:36px;
    --font-big:28px;
    --font-standard:16px;
    --font-small:14px;
    --font-smaller:12px;
    --font-smallest:10px;

    --font-light:300;
    --font-regular:400;
    --font-medium:500;
    --font-SemiBold:600;
    --font-Bold:700;
}

 :root[data-theme="dark"] {
    --clr-primary:#0a0903;
    --clr-text-primary:#1E1E20;
    --clr-text-second:#1C2346;
    --clr-second:#ff5100;
    --clr-dark:#ff8200;
    --clr-light:#e4e4e4;
    --clr-border:#ffc929;
    --clr-border-secondary:#fff4d5;
    --clr-btn:#fff4d5;
    --clr-graph-line:#fff4d5;
    --clr-graph-bg:#fff4d5;
    --clr-graph:#fff4d5;
    --clr-bg:#0a0903;

    }


.wrapper{
    background: var(--clr-bg);
}

a:hover,a:active{
    color:var(--clr-second);
    transition: .6s;
}

.container{
    width: 1320px;
    margin:0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap:1rem;
}

.Footer{
    bottom:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    border:1px solid black;
    font-size: var(--font-smallest);
    p{
        color:var(--clr-text-second)
    }
}

.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    margin-top:1rem;
    nav{
        display: flex;
        gap:1rem;        
        }
}

.main{
    border:1px solid black;
    height: 90svh;
}
.Traningpagemain{
    display: grid;
    grid-template-columns: 45% 45%;
    gap:1rem;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin:1rem;
    .Workoutformgroup{
        grid-column: 1;
        border: 1px solid black;
    }
    .workout-sum{
        grid-column: 2;
        border: 1px solid black;

    }
}
.Workoutformgroup{
    display: flex;
    align-items: start;
    justify-content: start;
    form{
        display: flex;
        flex-direction: column;
        gap:1rem;
    }
}

.Workoutinputgroup{
    display: flex;
    gap: .5rem;
    align-self: center;
    justify-content: center;

}
.setsinput{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid var(--clr-border);
    border-radius: .6rem;
    
}

.weightinput{
    width: 3rem;
}

.Macros-main{
    margin:1rem;
}
.Macros-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:1rem;
}

.Current-macros-sum{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
@media(width < 1200px)
{
    .container{
        width: 1140px;
    } 
        
}
@media(width < 768px)
{
    .container{
        width: 720px;
    } 
        
}
@media(width < 576px)
{
    .container{
        width: 540px;
    } 
        
}